/* mobile anf tablet */
@media (max-width: 1023px) {
    .header {
        height: 1500px;
    }
   
    .navbar {
        flex-direction: column;
        height: 150px;
        justify-content: center;
    }
    .navbar_list,
    .botton_navbar,
    .icon_menu-navbar,
    .menu__base  {
        display: none;
    }
    .icon_menu-navbar2,
    .menu__base2 {
        display: block;
    }
    .header-main-search  {
        width: 100%;
    }
    .header-main-funciton {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .header-main-funciton-list {
      margin-bottom: 30px;
       display: flex;
       width: 100%;
       justify-content: center;

       
    }
    .header-main-funciton-list img {
        width: 50px;
    }
    .bridge {
        flex-direction: column;
        height: 350px;
    }
    .main__tours {
        margin-top: 120px;
    }
    .main__tours-list {
        margin-bottom: 30px;
    }
    .main__sub2 {
        margin-top: 350px;
    }
    .main__couse2-adress {
        flex-direction: column;
        align-items: flex-start;
    }
    .main__couse2-adress-number  {
        margin-top: 20px;
    }
   
    .adress__navbar-list {
        text-align: start;
    }
    .adress__navbar-list-input {
        flex: 1;
    }
    .adress__navbar-list-btn  {
        min-width: 150px;
    }
    .icon__base {
        display: none;
    }
   
   
   

}
 
@media (min-width: 1023px) and (max-width: 1110px){
    .main__sub2 {
        margin-top: 350px;
    }
}

/* tablet  */
@media (min-width: 740px) and (max-width: 1023px) {
 
}
/* mobile */
@media (max-width: 739px) {
   .adress__navbar-list2 {
       flex-direction: column
   }
   .adress__navbar-list-btn {
     width: 100%;
     margin: 20px 0;
     
   }
   .dress__end {
       flex-direction: column;
       align-items: center;
       justify-content: center;
       padding: 20px 0;
       
   }
   .dress__end span:first-child {
       margin-bottom: 10px;
       margin-top: 10px
   }
   .dress__end span:last-child {
        margin-bottom: 10px
   }
   .main {
       padding: 20px 0;
   }
   .main__information-content, .main__tours {
    padding: 0 20px;
    }
    .dress__end  {
        height: 90px;
    }
};
